
*.db
.vscode/launch.json
.vscode/tasks.json
ToilettenArbitrator/Brain/LogsData21.12.2022_IML.txt
ToilettenArbitrator/Brain/LogsData25.12.2022_IML.txt
ToilettenArbitrator/Brain/LogsData21.12.2022_IML.txt
ToilettenArbitrator/Brain/LogsData26.12.2022_IML.txt
